@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    background-image: url(../images/bg.jpg);
    background-position: 50% 50%;
    height: 330px;
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar{
    position: absolute;
    top: 0;
    display: flex;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,0));
    align-items: center;
    height: 70px;
    width: 100%;
}

.profile{
    border-radius: 50q;
    position: absolute;
    right: 50px;
    top: 20px;
}

.logo{
    margin-top: 5px;
}
ul{
    display: flex;
    position: absolute;
    left: 15px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

li{
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

a:hover{
    border-bottom: 5px solid #EB7100;
    padding: 5px;
}

a{
    text-decoration: none;
    letter-spacing: -1px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 25px 0;
    border-bottom: 5px solid transparent;
    transition: .2s ease-in;
}

h1{
    line-height: 1;
    width: 100%;
    background: rgba(0,0,0,0);
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
}

p{
    width: 2px;
    height: 25px;
    border: #fff;
    background: #fff;
    margin: 0 15px 0 5px ;
}

@media only screen and (max-width: 850px){

    .profile{
        display: none;
    }
    
    .profile_right{
        display: none;
    }
}

.searchbox{
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

.searchtxt {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 15px; 
    outline: 4px solid #EB7100;
    font-size: 20px;
}

.searchbtn {
    position: absolute;
    right: 1px; 
    top: 2px;
    bottom: 1px;
    border: 1px solid #EB7100;
    background: #EB7100;
    color: #fff;
    font-size: 23px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 2;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.free_shipping{
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}
